mixin main()
  main.main 
    .container
      h1 Default Dropdown 
      br 
      .dropdown 
        button(type='button').dropdown__button До 100 дней
        ul.dropdown__list 
          li.dropdown__list-item(data-value="Любой") Любой
          li.dropdown__list-item.dropdown__list-item_active(data-value="до 100 дней") до 100 дней
          li.dropdown__list-item(data-value="от 100 до 200 дней") от 100 до 200 дней
          li.dropdown__list-item(data-value="более 200 дней") более 200 дней
        input(type="text" name="select-category" value="").dropdown__input_hidden
      br 
      .dropdown 
        button(type='button').dropdown__button До 100 дней
        ul.dropdown__list 
          li.dropdown__list-item(data-value="Любой") Любой
          li.dropdown__list-item.dropdown__list-item_active(data-value="до 100 дней") до 100 дней
          li.dropdown__list-item(data-value="от 100 до 200 дней") от 100 до 200 дней
          li.dropdown__list-item(data-value="более 200 дней") более 200 дней
        input(type="text" name="select-category" value="").dropdown__input_hidden
      br 
      .dropdown 
        button(type='button').dropdown__button До 100 дней
        ul.dropdown__list 
          li.dropdown__list-item(data-value="Любой") Любой
          li.dropdown__list-item.dropdown__list-item_active(data-value="до 100 дней") до 100 дней
          li.dropdown__list-item(data-value="от 100 до 200 дней") от 100 до 200 дней
          li.dropdown__list-item(data-value="более 200 дней") более 200 дней
        input(type="text" name="select-category" value="").dropdown__input_hidden
      br 
      h1 Dropdown with Checkboxes
      br 
      .dropdown_with-chk 
        button(type='button').dropdown_with-chk__button Выберите из списка
        ul.dropdown_with-chk__list 
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-1" id="i-1").dropdown_with-chk__list-item_label
            label(for="i-1").dropdown_with-chk__list-item_label Без справок о доходе
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-2" id="i-2").dropdown_with-chk__list-item_label
            label(for="i-2").dropdown_with-chk__list-item_label Бесплатное снятие наличных
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-3" id="i-3").dropdown_with-chk__list-item_label
            label(for="i-3").dropdown_with-chk__list-item_label С кэшбэком
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-4" id="i-4").dropdown_with-chk__list-item_label
            label(for="i-4").dropdown_with-chk__list-item_label Бесплатное обслуживание
      br 
      .dropdown_with-chk 
        button(type='button').dropdown_with-chk__button Выберите из списка
        ul.dropdown_with-chk__list 
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-2-1" id="i-2-1").dropdown_with-chk__list-item_label
            label(for="i-2-1").dropdown_with-chk__list-item_label Без справок о доходе
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-2-2" id="i-2-2").dropdown_with-chk__list-item_label
            label(for="i-2-2").dropdown_with-chk__list-item_label Бесплатное снятие наличных
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-2-3" id="i-2-3").dropdown_with-chk__list-item_label
            label(for="i-2-3").dropdown_with-chk__list-item_label С кэшбэком
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-2-4" id="i-2-4").dropdown_with-chk__list-item_label
            label(for="i-2-4").dropdown_with-chk__list-item_label Бесплатное обслуживание
      br 
      .dropdown_with-chk 
        button(type='button').dropdown_with-chk__button Выберите из списка
        ul.dropdown_with-chk__list 
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-3-1" id="i-3-1").dropdown_with-chk__list-item_label
            label(for="i-3-1").dropdown_with-chk__list-item_label Без справок о доходе
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-3-2" id="i-3-2").dropdown_with-chk__list-item_label
            label(for="i-3-2").dropdown_with-chk__list-item_label Бесплатное снятие наличных
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-3-3" id="i-3-3").dropdown_with-chk__list-item_label
            label(for="i-3-3").dropdown_with-chk__list-item_label С кэшбэком
          li.dropdown_with-chk__list-item 
            input(type="checkbox", name="i-3-4" id="i-3-4").dropdown_with-chk__list-item_label
            label(for="i-3-4").dropdown_with-chk__list-item_label Бесплатное обслуживание
      br 